:root {
    --primary-color: #880000;
    --grey-color: #eeeeee;
    --neutral-text-color: #393939;
    --primary-text-color: #b91f1f;
    --grey-text-color: #e2e2e2;
    --grey-text-color-2: #8f8f8f;
    --white: #fff;
    --black: #3d3d3d;
    --disabled: #ededed;
    --def-border-radius: 10px;
    --border-color: #ced4da;
}
body {
    font-family:
        'Source Sans Pro',
        -apple-system,
        BlinkMacSystemFont,
        'Segoe UI',
        Roboto,
        'Helvetica Neue',
        Arial,
        sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: var(--neutral-text-color);
    word-spacing: 1px;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
a {
    color: inherit;
    text-decoration: none;
    &:hover {
        text-decoration: none;
    }
}
ul {
    list-style: none;
}
label {
    font-weight: 500;
}
input, .form-control {
    &:focus {
        box-shadow: none !important;
        border-color: initial !important;
        border-color: var(--border-color) !important;
    }
}
.form-control {
    height: calc(1.5em + 0.75rem + 12px);
}
.btn {
    max-width: 250px;
    width: 100%;
    padding: 12px;
    border-radius: var(--def-border-radius);
    &--primary {
        background-color: var(--primary-color);
        color: var(--white);
        font-weight: 500;
        &:hover {
            color: var(--white) !important;
        }
    }
}
.rw {
    &-icon {
        color: var(--white);
    }
    &-text {
        &-bl {
            font-size: 1.25rem;
            line-height: 1.4rem;
            font-weight: 400;
        }
        &-bm {
            font-size: 1rem;
            line-height: 1.4rem;
            font-weight: 400;
        }
        &-bs {
            font-size: .875rem;
            line-height: 1.15rem;
        }
    }
    &-color {
        &-white {
            color: var(--white) !important;
        }
        &-primary-2 {
            color: var(--primary-text-color);
        }
    }
}
.portfolio, .home {
    padding-top: 15px;
    padding-bottom: 30px;
}
.card {
    box-shadow: 1px 2px 9px rgba(0, 0, 0, 0.15), 0 0 0 -0.5px rgba(0, 0, 0, 0.2);
    border: none;
    border-radius: 10px;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    background-color: #fff;
    background-clip: border-box;
}
.card .tp-lbl {
    position: absolute;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: var(--primary-text-color);
    top: 5px;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70px;
    height: 9px;
}
.card .card-title {
    font-size: 25px;
    color: var(--primary-text-color);
    font-weight: 500;
}
.card .card-sub-text {
    font-size: 17px;
    font-weight: 500;
}
.card .card-body {
    padding-top: 65px;
    padding-bottom: 65px;
}